<FluentTabs>
    <FluentTab Label="Tab with Switch">
        <span>Enabled: @SwitchEnabled</span>
        <FluentSwitch @bind-Value="SwitchEnabled" />

        <span>Checked: @CheckBoxChecked</span>
        <FluentCheckbox @bind-Value="CheckBoxChecked" />

        <span>Content: @Content</span>
        <FluentTextField @bind-Value="Content" />
    </FluentTab>

</FluentTabs>

@code {
    bool SwitchEnabled = false;
    bool CheckBoxChecked = false;
    string Content = "";
}

