<h4>Complex Content 2</h4>
<label id="label1">Only string for TValue works</label>
<FluentRadioGroup aria-labelledby="label1" TValue="Item" @bind-Value=selectedItem Name="ComplexContent" Orientation="Orientation.Vertical">
    @foreach (var item in items)
    {
        <FluentRadio Value="@item" Label="@item.Name" />
    }
</FluentRadioGroup>


<p>Your selected item: @selectedItem?.Name (@selectedItem?.CustomName | Enabled: @selectedItem?.Enabled)!</p>


@code
{
    class Item
    {
        public Item(string name)
        {
            Name = name;
        }

        public string Name { get; }
        public string CustomName { get; set; } = "";
        public bool Enabled { get; set; }
    }

    static Item[] items = [
        new Item("Item 1"),
        new Item("Item 2")
    ];

    Item? selectedItem = items[0];
}